<!-- Right Click Menu -->
<div class="context-menu">
    <div class="menu-content">
        <ul class="menu">
            <li class="item">
                <span>Adicionar</span>
            </li>
            <li class="item">
                <span>Renomear</span>
            </li>
            <li class="item">
                <span>Editar</span>
            </li>
            <li class="item">
                <span>Deletar</span>
            </li>
            <li class="item share">
                <span>Compartilhar</span>
            </li>
            <li class="share">
                <ul class="share-menu">
                    <li class="item"><span>Twitter</span></li>
                    <li class="item"><span>Instagram</span></li>
                    <li class="item"><span>Dribbble</span></li>
                    <li class="item"><span>Telegram</span></li>
                </ul>
            </li>
        </ul>
        <div class="setting">
            <li class="item">
                <span>Configuração</span>
            </li>
        </div>
    </div>
</div>

<!-- Technical Manual List Group -->
<div id="technical_manuals_group" class="container-fluid w-100 vh-100 p-0" style="height: 600px; background-color: #d3d3d3; z-index: 0;">
    <div class="row rounded mx-1 h-100" style="padding-bottom: 55px;">
        <div class="left-div pb-2 px-0 m-0 h-100" style="margin-top: 55px; width: 20%;">
            <div id="options_section" class="card p-0 me-1 my-1 h-100">
                <div class="card-body p-0 m-1 overflow-auto">
                    <div id="options_group" class="list-group list-group-flush">
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1" style="padding-left: 2%;" onclick="update_options(this)">GE</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Ressonância Magnética</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1_1" style="padding-left: 12%;" onclick="update_options(this)" hidden>- Signa</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1_1_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1_1_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1_1_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Tomografia Computadorizada</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2_1" style="padding-left: 12%;" onclick="update_options(this)" hidden>- BrightSpeed</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2_1_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2_1_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2_1_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_3" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Mamografia</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_4" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Densitometria</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_5" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Raio X</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2" style="padding-left: 2%;" onclick="update_options(this)">HITACHI</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Ressonância Magnética</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1_1" style="padding-left: 12%;" onclick="update_options(this)" hidden>- Signa</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1_1_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1_1_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1_1_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_2" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Tomografia Computadorizada</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_3" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Mamografia</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_4" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Densitometria</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_5" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Raio X</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="3" style="padding-left: 2%;" onclick="update_options(this)">SIEMENS</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="4" style="padding-left: 2%;" onclick="update_options(this)">PHILIPS</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="5" style="padding-left: 2%;" onclick="update_options(this)">TOSHIBA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-div pb-2 px-0 m-0 h-100" style="width: 80%;">
            <div id="content_section" class="card p-0 my-1 h-100">
                <div class="card-body w-100 h-100 overflow-auto">
                    <div id="card-text"></div>
                    <!-- <img id="whatsapp_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/768px-WhatsApp.svg.png?20220228223904" alt="QR Code" style="height: 1000px;"> -->
                </div>
            </div>
        </div>
    </div>
</div>