<!-- Right Click Menu -->
<div id="context_menu" class="context-menu">
    <div class="menu-content">
        <ul class="menu">
            <li class="item expand" hidden><span>Adicionar</span></li>
            <li class="expand">
                <ul class="expand-menu overflow-auto">
                    <li class="item" hidden><span>Item</span></li>
                    <li class="item" hidden><span>Grupo</span></li>
                    <li class="item" hidden><span>Subitem</span></li>
                    <li class="item" hidden><span>Subgrupo</span></li>
                </ul>
            </li>
            <li class="item" hidden><span>Renomear</span></li>
            <li class="item" hidden><span>Organizar</span></li>
            <li class="item" hidden><span>Deletar</span><li>
        </ul>
        <div style="margin-top: -17px; padding: 5px 12px; border-top: 1px solid #cccccc;"></div>
        <ul class="menu" style="margin-top: -10px; margin-bottom: -1px">
            <li class="item expand" hidden><span>Configuração</span></li>
            <li class="expand">
                <ul class="expand-menu overflow-auto">
                    <li class="item" hidden><span>Ativado</span></li>
                    <li class="item" hidden><span>Visibilidade</span></li>
                </ul>
            </li>
        </div>
    </div>
</div>

<!-- Technical Manual List Group -->
<div id="technical_manuals_group" class="container-fluid w-100 vh-100 p-0" style="height: 600px; background-color: #d3d3d3; z-index: 0;">
    <div class="row rounded mx-1 h-100" style="padding-bottom: 55px;">
        <div class="left-div pb-2 px-0 m-0 h-100" style="margin-top: 55px; width: 20%;">
            <div id="options_section" class="card p-0 me-1 my-1 h-100">
                <div class="card-body p-0 m-1 overflow-auto">
                    <div id="options_group" class="list-group list-group-flush">
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1" style="padding-left: 2%;" onclick="update_options(this)">GE</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Ressonância Magnética</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_1_1" style="padding-left: 12%;" onclick="update_options(this)" hidden>- Signa</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_1_1_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_1_1_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_1_1_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Tomografia Computadorizada</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2_1" style="padding-left: 12%;" onclick="update_options(this)" hidden>- BrightSpeed</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_2_1_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_2_1_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_2_1_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_2_2" style="padding-left: 12%;" onclick="update_options(this)" hidden>- HighSpeed</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_2_2_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_2_2_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="1_2_2_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_3" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Mamografia</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_4" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Densitometria</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="1_5" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Raio X</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2" style="padding-left: 2%;" onclick="update_options(this)">HITACHI</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Ressonância Magnética</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_1_1" style="padding-left: 12%;" onclick="update_options(this)" hidden>- Signa</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="2_1_1_1" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Instalação</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="2_1_1_2" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Manutenção</button>
                        <button type="button" class="list-group-item list-group-item-action rounded is-item" id="2_1_1_3" style="padding-left: 17%;" onclick="update_options(this)" hidden>- Troubleshooting</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_2" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Tomografia Computadorizada</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_3" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Mamografia</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_4" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Densitometria</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="2_5" style="padding-left: 7%;" onclick="update_options(this)" hidden>- Raio X</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="3" style="padding-left: 2%;" onclick="update_options(this)">SIEMENS</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="4" style="padding-left: 2%;" onclick="update_options(this)">PHILIPS</button>
                        <button type="button" class="list-group-item list-group-item-action rounded" id="5" style="padding-left: 2%;" onclick="update_options(this)">TOSHIBA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-div pb-2 px-0 m-0 h-100" style="width: 80%;">
            <div id="cards_section" class="card p-0 my-1 h-100">
                <div class="card-body w-100 h-100 overflow-auto">
                    <div id="card-text"></div>
                    <!-- <img id="whatsapp_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/768px-WhatsApp.svg.png?20220228223904" alt="QR Code" style="height: 1000px;"> -->
                </div>
            </div>
        </div>
    </div>
</div>